@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

.container {
  width: 100vw;
  height: 100vh;
}

.nav {
  padding: 1.5rem 2rem;
}

.logo {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25.18px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  height: 80%;
}

.inside-content-one {
  display: inline-block;
  width: 50%;
  padding: 2rem;
}

.inside-content-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inside-content-one:first-of-type {
  text-align: center;
}

.inside-content-one:last-of-type {
  width: 50%;
}

.scarecrow-img {
  width: 70%;
}

.title {
  display: block;
  width: 70%;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 94.78px;
  letter-spacing: -0.035em;
}

.body-text {
  display: block;
  width: 75%;
  margin: 4rem 0;
  width: 381px;

  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.btn {
  color: #fff;
  background: #333;

  display: block;
  width: 216px;
  height: 68px;

  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background: #555;
  color: #fff;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin: auto;
  padding-top: 6rem;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}

.footer-text a {
  text-decoration: none;
  color: #bdbdbd;
}

.footer-text a:hover {
  color: #f7542e;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .container {
    height: auto;
  }

  .content {
    display: inline-block;
  }

  .inside-content-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .inside-content-two {
    padding-top: 2rem;
    align-items: center;
    flex-direction: column;
  }

  /* .inside-content {
    width: 100%;
  }

  .inside-content:last-of-type {
    width: 100%;
  } */

  .title {
    width: 350px;
    height: 142px;
    margin-bottom: 2rem;

    font-size: 48px;
    line-height: 71px;
  }

  .body-text {
    width: 328px;
    height: 81px;

    margin-right: 2rem;
    font-size: 18px;
    line-height: 27px;
    margin: 2.5rem auto;
    margin: auto;
    text-align: left;
  }

  .btn {
    margin-top: 2rem;
    width: 216px;
    height: 68px;
  }

  .scarecrow-img {
    width: 70%;
  }

  .footer {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 46px;
    top: 908px;
  }

  .footer-text a {
    text-decoration: none;
    color: #bdbdbd;
  }

  .footer-text a:hover {
    color: #f7542e;
    font-weight: bold;
  }
}
